<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="darkFlow"
                 type="SimpleConfig.Section, SimpleConfig"/>
    </configSections>
    <darkFlow>
        <dispatcher maxConcurrency="10"/>
        <executors>
            <executor
                name="pipeline"
                priority="3"
                maxConcurrency="4"/>
        </executors>

        <routes>
            <matcher
                type="namespace"
                routeTo="pipeline"
                mask="Codestellation.*" />

            <matcher
                type="attribute"
                routeTo="pipeline"
                assembly="Codestellation.DarkFlow"
                attributes="PutItHere" />
        </routes>

        <persistence database="esent">
            <matchers>
                <matcher
                    type="namespace"
                    mask="Codestellation.*" />

                <matcher
                    type="attribute"
                    assembly="Codestellation.DarkFlow"
                    attributes="PutItHere" />
            </matchers>
        </persistence>
    </darkFlow>
</configuration>