<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="darkFlow" type="Codestellation.DarkFlow.Config.DarkFlowConfigurationSection, Codestellation.DarkFlow"/>
  </configSections>
  <darkFlow>
    <dispatcher maxConcurrency="10"/>
    <executors>
      <executor name="pipeline" priority="3" maxConcurrency="4"/>
    </executors>
      
    <routing>
      <route routeTo="pipeline" type="namespace" namespaceMask="Codestellation.*" />
      <route routeTo="pipeline" type="attribute" assembly="Codestellation.DarkFlow" attributes="PutItHere" />
    </routing>
    
  </darkFlow>
  
</configuration>